@use "../core/variables" as variables;

.main-container {
  display: flex;
  width: 375px;
}

.section-content {

  display: flex;
  flex-flow: column wrap;
  width: 320px;

  &__card {
    display: flex;
    flex-flow: column;
    gap: 25px;
    height: 450px;
    padding: 50px;
  }

  &__card--tittle {
    color: variables.$background-gray;
    text-transform: uppercase;
  }

  &__card--paragraph {
    color: variables.$paragraph-white;
  }

  &__card--sedan {
    background-color: variables.$primary-orange;
    border-radius: 20px 20px 0 0;
  }

  &__card--suvs {
    background-color: variables.$primary-cian;
  }

  &__card--luxury {
    background-color: variables.$primary-dark-cian;
    border-radius: 0 0 20px 20px;
  }
}

