@use "../core/variables" as variables;
@use "../core/typography" as typography;

.main-container {
  display: flex;
  width: 375px;
  height: 1450px;
  justify-content: center;
  align-items: center;
}

.section-content {

  display: flex;
  flex-flow: column wrap;

  &__card {
    display: flex;
    flex-flow: column;
    gap: 25px;
    height: 450px;
    padding: 50px;
    width: 300px;
  }

  &__card--tittle {
    font-family: typography.$Big-Shoulders-Display-font-family;
    color: variables.$background-gray;
    text-transform: uppercase;
    font-size: 40px;
  }

  &__card--paragraph {
    color: variables.$paragraph-white;
  }

  &__card--sedan {
    background-color: variables.$primary-orange;
    border-radius: 20px 20px 0 0;
  }

  &__card--suvs {
    background-color: variables.$primary-cian;
  }

  &__card--luxury {
    background-color: variables.$primary-dark-cian;
    border-radius: 0 0 20px 20px;
  }
}

